.header{
    position: relative;
    margin: 0px;
    padding: 0px;
}
.header .row .yu{
    
    color: red;
    font-size: 33px;
    
}
.header img{  
    width: 100%;
}
.header p:nth-child(3) {
    position: absolute;
    margin: 0px;
    padding: 0px;
    color: black;
    top: 66px;
    left: 70px;
}
.header p:nth-child(3) span {
    font-weight: 700;
    font-size: 80px;
}
.header .row .io  {
    color: black;
    background-color: white;
    font-size: 34px;
}
.header .row .col-md-12 span {
   color: red;
}
@media only screen and (max-width: 1782px) {
  .header .row .yu{
    overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header p:nth-child(3) span {
    font-size: 70px;
}
}
@media only screen and (max-width: 1500px) {
.header p:nth-child(3) span {
    
    font-size: 60px;
}
}
@media only screen and (max-width: 1300px) {
.header p:nth-child(3) span {
    
    font-size: 50px;
}
}
@media only screen and (max-width: 1200px) {
.header p:nth-child(3) span {
    
    font-size: 40px;
}
}